<div class="row">
  <div class="col">
    <div id="someDiv" class="card bg-light">
      <div class="card-body">
        <h5 class="card-title">Events</h5>
        <p class="card-text">(fromEvent - document.mousedown, div.mousemove, button.click)</p>
        <div>
          <button class="btn btn-outline-primary btn-sm" id="someButton">Click me!</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="card bg-light mt-3">
      <div class="card-body">
        <h5 class="card-title">Search</h5>
        <p class="card-text">(map, tap, debounceTime, distinctUntilChanged)</p>
        <div>
          <input class="form-control" id="search" type="text" placeholder="enter search text...">
        </div>
      </div>
    </div>
  </div>
</div>