<ul class="nav nav-pills mb-3">
  <li class="nav-item">
    <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/switch-map" routerLinkActive="active">Switch Map</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/subject" routerLinkActive="active">Subject</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/behavior-subject" routerLinkActive="active">Behavior Subject</a>
  </li>
</ul>